<!DOCTYPE html>
<html>
  <head>
    <title>Socialmap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZQaGsRUqwpqeEGPAvjWS4pCXJQ5W5Nj0&callback=initMap&libraries=geometry,places,visualization,drawing" async defer></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
